body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    background-image: url('/image/fondo\ estrellado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .average-sans-regular {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container-head {
width: 100%;
height: 100px;
margin-bottom: 5px; /* Cambia este valor según el espacio deseado */
padding-bottom: 5px; /* Cambia este valor según el espacio deseado */
}
#titulos{
    margin-left: 40px;
}

.title{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.subTitle{
    font-family: "Average Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
  color: aqua;
}
h1, h3 {
    margin-bottom: 2px; /* Cambia este valor según el espacio deseado */
}

.linea1 {
    border-bottom:  dotted rgb(0, 177, 247); /* 1px de grosor, línea punteada, color negro */
    width: 100%; /* Ancho completo */
    padding-top: px; /* Espacio alrededor de la línea */ 
}
.linea2{
    border-bottom:  dotted rgb(0, 177, 247); /* 1px de grosor, línea punteada, color negro */
    width: 100%; /* Ancho completo */
    padding-top: 1px; /* Espacio alrededor de la línea */
    
}

#reproductor-container {
    text-align: center;
    justify-content: center;
    max-width: 300px;
    max-height: 200%;
    margin: 40px auto;
    background-color: #2d2d2d ;
    padding: 50px auto;
}

#reproductor {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#controles {
    margin-bottom: 15px auto;
}

button {
    background-color: #090b29;
    color: #ffffff;
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    margin: 5 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0513d8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centrar la lista */
    text-align: center; /* Centrar el texto de los elementos li */
    max-width: 400px; /* Ancho máximo */
}

li {
    background-color: #090b29;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%; /* Para que tenga el mismo ancho */
    white-space: nowrap; /* Evitar que se rompa en varias líneas */
    overflow: hidden; /* Ocultar texto que no cabe */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto es demasiado largo */
}

li:hover {
    background-color: #0513d8;
}

#volumeSlider {
    width: 80px;
    margin-top: 10px;
}
